<div class="flex gap-2 min-h-24 py-5">
    <div class="sub-menu">
        <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1">
        <div class="p-2">
            <span class="text-xl">Match Info</span>
            <p class="text-xs">Match Statistic</p>
        </div>
    </div>
    <div class="sub-menu">
        <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1">
        <div class="p-2">
            <span class="text-xl">Table</span>
            <p class="text-xs">Klasemen Sementara</p>
        </div>
    </div>
    <div class="sub-menu">
        <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1">
        <div class="p-2">
            <span class="text-xl">Timeline</span>
            <p class="text-xs">Commentary Highlight</p>
        </div>
    </div>
    <div class="sub-menu">
        <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1">
        <div class="p-2">
            <span class="text-xl">Player Info</span>
            <p class="text-xs">Lineup</p>
        </div>
    </div>
    <div class="sub-menu">
        <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1">
        <div class="p-2">
            <span class="text-xl">Top Stats</span>
            <p class="text-xs">Player Statistic</p>
        </div>
    </div>
</div>