<!DOCTYPE html>
<html class="dark">
  <head>
    <title><%= content_for(:title) || "Lapangbola Beta" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="flex-col bg-white dark:bg-gray-950">
      <%= render 'layouts/navbar' %>
      <div class="flex mb-4 mx-2">

        <aside class="w-1/4 aside" >
          <h2 class="aside-header-text">Competition</h2>
          <ul class="space-y-2">
            <li class="aside-item">
              <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1" class="aside-logo">
              <span class="aside-item-text">Liga 1 Indonesia</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('liga2-icon.png') %>" alt="Liga 2" class="aside-logo">
              <span class="aside-item-text">Liga 2 Indonesia</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('epau16-icon.png') %>" alt="EPL U16" class="aside-logo">
              <span class="aside-item-text">EPA U16 2024/2025</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('fifa-wc-icon.png') %>" alt="World Cup" class="aside-logo">
              <span class="aside-item-text">FIFA World Cup 2022</span>
            </li>
          </ul>

          <span class="aside-footer"> see more </span>
          <hr class="mb-4 border-1 border-white">

          <h2 class="aside-header-text">Player</h2>
          <ul class="space-y-2">
            <li class="aside-item">
              <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 1" class="aside-logo">
              <span class="aside-item-text">Dadang Da Silva</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('liga1-icon.png') %>" alt="Liga 2" class="aside-logo">
              <span class="aside-item-text">Sir Alex</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('epau16-icon.png') %>" alt="EPL U16" class="aside-logo">
              <span class="aside-item-text">Ci Ciro Ciros</span>
            </li>
          </ul>

          <span class="aside-footer"> see more </span>
          <hr class="mb-4 border-1 border-white">

          <h2 class="aside-header-text">Club</h2>
          <ul class="space-y-2">
            <li class="aside-item">
              <img src="<%= asset_path('persija.png') %>" alt="Persija" class="aside-logo">
              <span class="aside-item-text">Persija</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('madura-fc.png') %>" alt="Liga 2" class="aside-logo">
              <span class="aside-item-text">Madura United</span>
            </li>
            <li class="aside-item">
              <img src="<%= asset_path('psm-makasar.png') %>" alt="EPL U16" class="aside-logo">
              <span class="aside-item-text">PSM Makasar</span>
            </li>
          </ul>

          <span class="aside-footer"> see more </span>
          <hr class="mb-4 border-1 border-white">
          
        </aside>
      
        <%= yield %>

        <aside class="w-3/8 aside" >
          <h2 class="aside-header-text">Trending New</h2>
          
          <!-- Main Featured News -->
          <div class="relative">
            <img src="<%= asset_path('premier-banner.png') %>" alt="Main News Image" class="rounded-lg w-full h-48 object-cover">
            <h3 class="mt-2 text-lg font-bold text-gray-900 dark:text-white">Kombinasi Saka dan Ødegaard: Kunci Serangan Mematikan Arsenal</h3>
            <p class="text-gray-600 dark:text-gray-400 text-sm">21 November 2024</p>
          </div>

          <!-- List of Other News -->
          <div class="aside-article-list">
            <div class="aside-article-item">
              <img src="<%= asset_path('premier-banner.png') %>" alt="News Image" class="aside-article-image">
              <div>
                <h4 class="aside-article-title">Persib Bandung Siap Menghadapi Rival Abadi di Liga 1 Pekan Ini</h4>
                <p class="aside-article-date">21 November 2024</p>
              </div>
            </div>
            
            <div class="aside-article-item">
              <img src="<%= asset_path('premier-banner.png') %>" alt="News Image" class="aside-article-image">
              <div>
                <h4 class="aside-article-title">Kembalinya Pemain Persib: Strategi Baru dari Pelatih</h4>
                <p class="aside-article-date">21 November 2024</p>
              </div>
            </div>
            
            <div class="aside-article-item">
              <img src="<%= asset_path('premier-banner.png') %>" alt="News Image" class="aside-article-image">
              <div>
                <h4 class="aside-article-title">Persib Tak Terkalahkan di 5 Laga Terakhir</h4>
                <p class="aside-article-date">21 November 2024</p>
              </div>
            </div>
          </div>
        </aside>
      </div>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
